.navbar-inverse .logo[aria-label*="ElastAlert"] {
  width: 285px;
}

md-content.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 24px 15%;
}

md-grid-tile {
  background-color: white;
}

md-grid-list.list-shadow-margin {
  margin-bottom: 4px;
}

.file-icon-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
}
