<div class="controller-wrapper" full ng-controller="elastalertEditorController">
  <md-content class="main-content">
    <md-toolbar class="md-menu-toolbar toolbar-transparent">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="backToOverview($event)">
          <md-icon>arrow_back</md-icon>
        </md-button>
        <h2>
          <span>Editing {{ ruleName }} {{ ruleContentEdited ? '*' : '' }}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="testRule(ruleContent)">
          <md-icon>play_arrow</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="saveRule(ruleName)">
          <md-icon>save</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>
  <div class="editor-wrapper" ng-class="{ 'expand-right': consoleExpanded }">
    <div class="left-wrap"></div>
    <div ui-codemirror="editorOptions" class="code-editor" ng-model="ruleContent"></div>
    <div class="right-wrap">
      <div class="template-options">
        <md-toolbar class="toolbar-transparent">
          <div class="md-toolbar-tools">
            <h2>
              <span>Templates</span>
            </h2>
          </div>
        </md-toolbar>
        <div ng-repeat="template in templates">
          <md-button class="md-raised" ng-click="insertTemplate(template)">
            {{ template }}
          </md-button>
        </div>
      </div>
      <div class="editor-console-view">
        <md-toolbar class="toolbar-transparent">
          <div class="md-toolbar-tools">
            <h2>
              <span>Console Output</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="switchConsoleState(false)">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <code class="console-output" ng-class="{ 'error-output': state.test === requestStates.STATE_ERROR }">{{ consoleOutput }}</code>
      </div>
    </div>
  </div>
</div>
